@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply text-[62.5%] font-roboto text-base overflow-x-hidden;

    }
    body {
        @apply text-mytext dark:bg-[rgb(18,18,18)] dark:text-[#ededed]
    }
}

:root {
    /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
    @apply p-0 m-0 box-border;
}


@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        border: 1px solid rgb(56, 56, 56);
        @apply rounded-md bg-[rgba(40,40,40,1)] shadow-[0_0_4px_rgba(35,35,35,1)] hover:bg-[rgb(32,32,32)] hover:text-primary hover:tracking-wider ease-linear duration-300 font-montserrat
    }

    .nav-items {
        @apply font-montserrat text-xl text-[rgb(214,214,214)] hover:text-[rgb(150,150,150)] ease-linear duration-150
    }

    .dfAc {
        @apply flex items-center justify-center;
    }

    .df-jc {
        @apply flex justify-center;
    }

    .df-ac {
        @apply flex items-center;
    }

    .df-jsb-ac {
        @apply flex items-center justify-between;
    }

    .dfDcAc {
        @apply flex items-center justify-center flex-col;
    }

    .df-jsb {
        @apply flex justify-between;
    }

    .df-jse {
        @apply flex justify-self-end;
    }

    .df-fldc {
        @apply flex flex-col;
    }

    .df-flDc {
        @apply flex items-center justify-center flex-col;
    }

    .df-fldc-jc {
        @apply flex justify-center flex-col;
    }

    .df-fldc-ac {
        @apply flex items-center flex-col;
    }

    .dfAcW {
        @apply flex items-center justify-center flex-wrap;
    }
}